<h1>Hello</h1>
<form action="{% url 'save_info' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_input }}
    <input type="submit" value="Send">
</form>

<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>main form</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>hello</h1>-->
<!--    <form action="{% url 'save_info' %}" method="post">-->
<!--        {% csrf_token %}-->
<!--        <label for="userid">user id:</label>-->
<!--        <input type="number" id="userid" name="userid">-->

<!--        <label for="problem">problem description:</label>-->
<!--        <input type="text" id="problem" name="problem">-->

<!--        {% include 'detector/light.html' %}-->
<!--        {% block content %}-->


<!--        {% endblock %}-->
<!--        <input type="submit" value="send">-->
<!--    </form>-->

<!--</body>-->
<!--</html>-->